body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#todoContainer {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  margin: 5px;
  width: calc(100% - 24px);
  border-radius: 5px;
  border: 1px solid #ccc;
}

h2, h1 {
  text-align: center;
}

#todoList {
  list-style-type: none;
  padding-left: 0;
}

#todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#todoList li.done {
  text-decoration: line-through;
  background-color: #d3ffd3;
}

#pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 5px;
}

#loadingIndicator {
  text-align: center;
  font-size: 20px;
  color: blue;
  display: none;
}
