/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

#signupForm,
#signinForm {
  display: block;
}

/* To-Do List section */
#todoContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#todoText {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

#addTodoButton {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}

#addTodoButton:hover {
  background-color: #007bb5;
}

#todoList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  width: 100%;
}

#todoList li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoutButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

#logoutButton:hover {
  background-color: #e53935;
}

#logoutButton:active {
  background-color: #c62828;
}
